<footer>
  <p>Copyright &copy; 2022-<%= Time.now.year %></p>
  <p><%= link_to 'The Pragmatic Studio', 'https://pragmaticstudio.com' %></p>
  <a href="mailto:info@pragmaticstudio.com">Contact Us</a>
</footer>